p We meet up every Thursday from 8pm to 12am in 022 <a href="http://goo.gl/maps/vz3g2" target="_blank">International Village</a> to hang out, talk about tech, and work on projects.      
p If you like making, breaking, hacking, building, designing, security, art, and other creative stuff, you should hang with us.
